@charset "UTF-8";

/* general */
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	background-color: #111188;
	font-family: Brush Script MT, cursive;
	font-size: 16px;
	color: #FFFFFF;
}

/* global */

/* header */
.hamburger {
	display: block;
	position: fixed;

	margin: 20px;
	border: 4px solid #111188;
	border-radius: 4px;
	width: 40px;
	height: 30px;
	background-image: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 14%, transparent 14%, transparent 42%, #FFFFFF 42%, #FFFFFF 56%, transparent 56%, transparent 84%, #FFFFFF 84%, #FFFFFF 100%);
}

/* main */

/* footer */