@charset "UTF-8";

/* general */
body, html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	width: 100%;
	min-height: 100%;
	background-color: #111188;
	font-family: cursive;
	font-size: 16px;
	color: #FFFFFF;
}

/* global */

/* header */
h1 {
	margin: 0;
	text-align: center;
	font-size: 3em;
}

.hamburger {
	display: block;

	margin: 20px;
	border: 4px solid #111188;
	border-radius: 4px;
	width: 40px;
	height: 30px;
	background-image: linear-gradient(0deg, #FFFFFF 0%, #FFFFFF 14%, transparent 14%, transparent 42%, #FFFFFF 42%, #FFFFFF 56%, transparent 56%, transparent 84%, #FFFFFF 84%, #FFFFFF 100%);
}

.heading {
	padding: 50px;
	min-height: 120px;
	background-image: url("../img/main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.heading p {
	margin: 5px 0 0 0;
	font-size: 1.5em;
}

.main-nav {
	background-color: #FFA204;
}

.main-nav a {
	text-decoration: none;
	color: #000000;
}

.main-nav a:hover {
	text-decoration: underline;
}

.main-nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	margin: 0;
	list-style-type: none;
	padding: 0;
}

.main-nav li {
	flex: 1;

	padding: 10px 0;
	text-align: center;
	color: #000000;
}

.main-nav li:hover {
	background-color: #FF6666;
}

/* main */
h2 {
	text-align: center;
}

section {
	margin: 0 auto;
	width: 80%;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gallery-image {
	margin: 20px;
	width: 100px;
}

.heading-image {
	float: left;

	margin-right: 20px;
	width: 50%;
}

#gallery-text {
	text-align: center;
}

/* footer */
footer {
	background-color: #FFA204;
	padding: 5px;
	color: #000000;
	text-align: center;
}

/* media queries */
@media (min-width: 750px) {
	/* main */
	main {
		font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
		font-size: 1.5em;
	}

	.heading-image {
		float: none;

		display: block;
		margin: 0 auto;
	}
}